<a href="https://colab.research.google.com/github/mariuszDolinski/Data-Science-Course/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'2.2.2'

In [9]:
s = pd.Series(data=[2,5,4,3], index=['a', 'b', 'c', 'd'], name='sample')
s

a    2
b    5
c    4
d    3
Name: sample, dtype: int64

In [8]:
import numpy as np

In [10]:
s = pd.Series(data=[2, np.nan, 4, 3], index=['a', 'b', 'c', 'd'], name='sample') #nan - brak danej, nie uwzglÄ™dniona w obliczeniach statystycznych
s

a    2.0
b    NaN
c    4.0
d    3.0
Name: sample, dtype: float64

In [11]:
s = pd.Series(data=[True, False, True], name='sample-bool')
s

0     True
1    False
2     True
Name: sample-bool, dtype: bool

In [14]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20250101', periods=10)) #daty jako indeksy
s

2025-01-01    10
2025-01-02    11
2025-01-03    12
2025-01-04    13
2025-01-05    14
2025-01-06    15
2025-01-07    16
2025-01-08    17
2025-01-09    18
2025-01-10    19
Freq: D, dtype: int64